---
import Layout from "@/layouts/Layout.astro"
import HeroSection from "@/components/inicio/HeroSection.astro"
import QuienesSomos from "@/components/inicio/QuienesSomos.astro"
import Sectores from "@/components/inicio/Sectores.astro"
import NuestrosServicios from "@/components/inicio/NuestrosServicios.astro"
import UltimosClientes from "@/components/inicio/UltimosClientes.astro"
---

<Layout
  isIndex
  title="Difase Machinery | Innovando soluciones para la industria | Machinery Design & Innovation"
>
  <h1 class="sr-only">
    Difase Machinery, innovaccion, diseño y tecnologia en la industria.
    Proveedores de maquinaria industrial, soldaduras y trabajos varios
  </h1>

  <script>
    import { register } from "swiper/element/bundle"
    register()
  </script>

  <HeroSection />

  <QuienesSomos />

  <Sectores />

  <NuestrosServicios />

  <UltimosClientes />

</Layout>
