---
import Espacio from "@/assets/Espacio.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Servicios" isServicios hero>
  <section class="h-80 flex justify-center relative bg-black">
    <img
      src="images/DSC_0083.webp"
      class="absolute h-full w-full object-cover opacity-40"
      alt=""
    />
    <div class="mt-48 z-10">
      <h1 class="font-energy text-4xl md:text-5xl text-white uppercase">
        Nuestros servicios
      </h1>
    </div>
  </section>
  <div class="max-w-screen-lg mt-12 mx-auto flex justify-end">
    <h2
      class="servGene text-blue-900 uppercase font-energy text-3xl tracking-wider md:text-4xl relative w-fit"
    >
      Servicios generales
    </h2>
  </div>
  <section
    style="clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 85%);"
    class="bg-blue-900"
  >
    <div
      class="mx-auto px-4 max-w-screen-lg flex items-center text-white justify-between gap-4"
    >
      <div class="mb-8 max-w-[42rem]">
        <h3 class="text-2xl font-energy uppercase tracking-wider">
          Diseño y Fabricación de Máquinas
        </h3>
        <p class="mb-6">
          Aplicando los medios modernos de Diseño Asistido por Computador en 2D
          y 3D, el equipo de técnicos especialistas en mecánica aplicada
          desarrolla las siguientes actividades:
        </p>
        <ul class="list-disc text-blue-100">
          <li class="mb-2">
            Estudio y desarrollo de Sistemas Flexibles de Fabricación y
            manipulación, especialmente en áreas de montaje y manipulación
            compleja.
          </li>
          <li class="mb-2">
            Diseño y construcción de máquinas especiales, de acuerdo a los
            requerimientos y estándares, adaptadas a las necesidades
            particulares del cliente.
          </li>
          <li class="mb-2">
            Diseño y fabricación de elementos de maquinas y mecanismos simples y
            complejos.
          </li>
        </ul>
      </div>
      <img src="images/DSC_0064.webp" class="w-72" alt="" />
    </div>
  </section>
  <section
    style="clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 85%);"
    class="-mt-7 bg-gray-200"
  >
    <div
      class="mx-auto px-4 max-w-screen-lg flex items-center text-blue-950 justify-between gap-4"
    >
      <img src="images/DSC_0369.webp" class="w-72" alt="" />
      <div class="max-w-[42rem] pl-4">
        <h3 class="text-2xl font-energy uppercase tracking-wider">
          Reingeniería de Máquinas
        </h3>
        <p class="text-[.9rem] mb-2">
          A medida que vayan ocurriendo expansiones y modernizaciones en las
          plantas de procesos, los requerimientos de la maquinaria en servicio
          también cambian. Poseemos el conocimiento y experiencia para efectuar
          reingeniería a casi cualquier equipo y/o maquinaria para que cumpla
          los nuevos requerimientos de desempeño.
        </p>
        <p class="text-[.9rem] mb-2">
          Realizamos analisis previos tales como :
        </p>
        <ul class="text-[.9rem] list-disc">
          <li>Análisis de desempeño y eficiencia mecánicos</li>
          <li>Análisis de materiales y elementos</li>
          <li>Análisis de sistema de automatización</li>
          <li>Análisis de sistema eléctrico general</li>
          <li>Análisis de aplicación ,medio y entorno</li>
        </ul>
      </div>
    </div>
  </section>
  <section
    style="clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 85%);"
    class="-mt-7 bg-blue-900"
  >
    <div
      class="mx-auto px-4 max-w-screen-lg flex items-center text-white justify-between gap-4"
    >
      <div class="max-w-[42rem] -mt-8">
        <h3 class="text-2xl font-energy uppercase tracking-wider">
          Diseño y Montaje Eléctrico
        </h3>
        <p class="text-[.9rem] mb-2">
          Para el diseño e instalación de cuadros eléctricos, utilizamos
          herramientas CAD junto con documentación técnica, asegurando el
          correcto dimensionamiento de los elementos según normativas vigentes.
          Además, seleccionamos cuidadosamente los materiales, garantizando que
          cumplan con los estándares de calidad y protección necesarios para
          cada proyecto.
        </p>
        <p class="text-[.9rem] mb-1">Realizamos los siguientes servicios :</p>
        <ul class="text-[.9rem] list-disc">
          <li>
            Diseño ,fabricación y montaje eléctrico de cuadros eléctricos.
          </li>
          <li>Canalizaciones y estructuras auxiliares.</li>
          <li>Tendido de cables eléctricos.</li>
          <li>
            Conexión y montaje de elementos eléctricos y electrónicos Etiquetado
            y marcaje.
          </li>
          <li>Mantenimiento preventivo y correctivo.</li>
        </ul>
      </div>
      <img src="images/DSC_0068.webp" class="w-72" alt="" />
    </div>
  </section>
  <section
    style="clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 85%);"
    class="-mt-7 bg-gray-200"
  >
    <div
      class="mx-auto px-4 max-w-screen-lg flex items-center text-blue-950 justify-between gap-4"
    >
      <img src="https://teltonika-networks.com/cdn/extras/11733/easy-customizable-remote-capabilities-for-siemens-plcsjpe.webp" class="w-72 h-96 object-cover" alt="" />
      <div class="max-w-[42rem] pl-4">
        <h3 class="text-2xl font-energy uppercase tracking-wider">
          Automatización e Instrumentación Industrial
        </h3>
        <p class="mb-2">
          Nuestras soluciones de automatización & Instrumentación son
          integrales, realizamos la programación ,configuración e integración de
          equipos de automatización de marcas como :
        </p>
        <div class="flex gap-4 justify-between w-1/2">
          <ul class="list-disc">
            <li>Siemens</li>
            <li>Allen Bradley</li>
            <li>Schneider</li>
            <li>VIPA</li>
            <li>Unitronics</li>
          </ul>
          <ul class="list-disc">
            <li>ABB</li>
            <li>Delta PLC</li>
            <li>Telemecanique</li>
            <li>GE Fanuc</li>
            <li>Kloner Moller</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="max-w-screen-lg mt-6 mx-auto flex">
    <h2
      class="servSect text-blue-900 uppercase font-energy text-3xl tracking-wider md:text-4xl relative w-fit"
    >
      Servicios por Sector
    </h2>
  </div>
  <Espacio />
</Layout>

<style>
  .servGene::after {
    content: "";
    @apply absolute bg-blue-900 w-2/3 h-2 -bottom-2 right-0 -skew-x-12;
  }
  .servSect::after{
    content: "";
    @apply absolute bg-blue-900 w-2/3 h-2 -bottom-2 left-0 -skew-x-12;
  }
</style>
