---
import Espacio from "@/assets/Espacio.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Servicios" isServicios hero>
  <section class="h-80 flex justify-center relative bg-black">
    <img
      src="images/DSC_0083.webp"
      class="absolute h-full w-full object-cover opacity-40"
      alt=""
    />
    <div class="mt-48 z-10">
      <h1 class="font-energy text-4xl md:text-5xl text-white uppercase">
        Nuestros servicios
      </h1>
    </div>
  </section>
  <div class="max-w-screen-lg mt-12 mx-auto flex justify-end">
    <h2
      class="servGene text-blue-900 uppercase font-energy text-3xl tracking-wider md:text-4xl relative w-fit"
    >
      Servicios generales
    </h2>
  </div>
  <section
    style="clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 85%);"
    class="bg-blue-900"
  >
    <div
      class="mx-auto px-4 max-w-screen-lg flex items-center text-white justify-between gap-4"
    >
      <div class="mb-8 max-w-[42rem]">
        <h3>Diseño y Fabricación de Máquinas</h3>
        <p class="mb-6">
          Aplicando los medios modernos de Diseño Asistido por Computador en 2D
          y 3D, el equipo de técnicos especialistas en mecánica aplicada
          desarrolla las siguientes actividades:
        </p>
        <ul class="list-disc text-blue-100">
          <li class="mb-2">
            Estudio y desarrollo de Sistemas Flexibles de Fabricación y
            manipulación, especialmente en áreas de montaje y manipulación
            compleja.
          </li>
          <li class="mb-2">
            Diseño y construcción de máquinas especiales, de acuerdo a los
            requerimientos y estándares, adaptadas a las necesidades
            particulares del cliente.
          </li>
          <li class="mb-2">
            Diseño y fabricación de elementos de maquinas y mecanismos simples y
            complejos.
          </li>
        </ul>
      </div>
      <img src="images/DSC_0064.webp" class="w-72" alt="" />
    </div>
  </section>
  <section
    style="clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 85%);"
    class="-mt-7 bg-gray-200"
  >
    <div
      class="mx-auto px-4 max-w-screen-lg flex items-center text-blue-950 justify-between gap-4"
    >
      <img src="images/DSC_0369.webp" class="w-72" alt="" />
      <div class="max-w-[42rem] pl-4">
        <h3>Reingeniería de Máquinas</h3>
        <p class="text-[.9rem] mb-2">
          A medida que vayan ocurriendo expansiones y modernizaciones en las
          plantas de procesos, los requerimientos de la maquinaria en servicio
          también cambian. Poseemos el conocimiento y experiencia para efectuar
          reingeniería a casi cualquier equipo y/o maquinaria para que cumpla
          los nuevos requerimientos de desempeño.
        </p>
        <p class="text-[.9rem] mb-2">
          Realizamos analisis previos tales como :
        </p>
        <ul class="text-[.9rem] list-disc">
          <li>Análisis de desempeño y eficiencia mecánicos</li>
          <li>Análisis de materiales y elementos</li>
          <li>Análisis de sistema de automatización</li>
          <li>Análisis de sistema eléctrico general</li>
          <li>Análisis de aplicación ,medio y entorno</li>
        </ul>
      </div>
    </div>
  </section>
  <section
    style="clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 85%);"
    class="-mt-7 bg-blue-900"
  >
    <div
      class="mx-auto px-4 max-w-screen-lg flex items-center text-white justify-between gap-4"
    >
      <div class="max-w-[42rem] -mt-8">
        <h3>Diseño y Montaje Eléctrico</h3>
        <p class="text-[.9rem] mb-2">
          Para el diseño e instalación de cuadros eléctricos, utilizamos
          herramientas CAD junto con documentación técnica, asegurando el
          correcto dimensionamiento de los elementos según normativas vigentes.
          Además, seleccionamos cuidadosamente los materiales, garantizando que
          cumplan con los estándares de calidad y protección necesarios para
          cada proyecto.
        </p>
        <p class="text-[.9rem] mb-1">Realizamos los siguientes servicios :</p>
        <ul class="text-[.9rem] list-disc">
          <li>
            Diseño ,fabricación y montaje eléctrico de cuadros eléctricos.
          </li>
          <li>Canalizaciones y estructuras auxiliares.</li>
          <li>Tendido de cables eléctricos.</li>
          <li>
            Conexión y montaje de elementos eléctricos y electrónicos Etiquetado
            y marcaje.
          </li>
          <li>Mantenimiento preventivo y correctivo.</li>
        </ul>
      </div>
      <img src="images/DSC_0068.webp" class="w-72" alt="" />
    </div>
  </section>
  <section
    style="clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 85%);"
    class="-mt-7 bg-gray-200"
  >
    <div
      class="mx-auto px-4 max-w-screen-lg flex items-center text-blue-950 justify-between gap-4"
    >
      <img
        src="https://teltonika-networks.com/cdn/extras/11733/easy-customizable-remote-capabilities-for-siemens-plcsjpe.webp"
        class="w-72 h-96 object-cover"
        alt=""
      />
      <div class="max-w-[42rem] pl-4">
        <h3>Automatización e Instrumentación Industrial</h3>
        <p class="mb-2">
          Nuestras soluciones de automatización & Instrumentación son
          integrales, realizamos la programación ,configuración e integración de
          equipos de automatización de marcas como :
        </p>
        <div class="flex gap-4 justify-between w-1/2">
          <ul class="list-disc">
            <li>Siemens</li>
            <li>Allen Bradley</li>
            <li>Schneider</li>
            <li>VIPA</li>
            <li>Unitronics</li>
          </ul>
          <ul class="list-disc">
            <li>ABB</li>
            <li>Delta PLC</li>
            <li>Telemecanique</li>
            <li>GE Fanuc</li>
            <li>Kloner Moller</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="max-w-screen-lg mt-6 mx-auto flex">
    <h2
      class="servSect text-blue-900 uppercase font-energy text-3xl tracking-wider md:text-4xl relative w-fit"
    >
      Servicios por Sector
    </h2>
  </div>
  <section class="max-w-screen-xl px-4 min-h-96 mx-auto mt-10 grid grid-cols-2">
    <div class="p-4">
      <div class="bg-gray-500 h-full w-full">

      </div>
    </div>
    <div class="flex justify-center flex-col">
      <h3 id="sector-farmaceutico" class="text-blue-900">Sector Farmacéutico</h3>
      <p>
        En Difase, entendemos los altos estándares de calidad y precisión que
        exige la industria farmacéutica. Ofrecemos soluciones especializadas en
        diseño y fabricación de maquinaria para la producción de medicamentos,
        sistemas de automatización para procesos estériles, y equipos
        personalizados que cumplen con las normativas GMP y FDA. Desde máquinas
        para el encapsulado y mezclado hasta sistemas de control y monitoreo en
        tiempo real, nos aseguramos de que tus operaciones sean eficientes,
        seguras y confiables. Además, brindamos servicios de reingeniería para
        modernizar equipos existentes y adaptarlos a las nuevas exigencias del
        mercado.
      </p>
      <a
        href="/"
        class="proyectos bg-blue-800 p-3 uppercase font-oblivion mt-5 text-blue-50 overflow-hidden -skew-x-12 transition-all duration-300 hover:bg-blue-950 flex items-center gap-2 w-[9.5rem] hover:w-fit hover:translate-x-2 group max-md:text-sm max-md:mx-auto text-sm"
      >
        <span>proyectos</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="group-hover:opacity-100 group-hover:translate-x-0 opacity-0 -translate-x-2 transition-all duration-300"
        >
          <path
            d="M7 6l-.112 .006a1 1 0 0 0 -.669 1.619l3.501 4.375l-3.5 4.375a1 1 0 0 0 .78 1.625h6a1 1 0 0 0 .78 -.375l4 -5a1 1 0 0 0 0 -1.25l-4 -5a1 1 0 0 0 -.78 -.375h-6z"
          ></path>
        </svg>
      </a>
    </div>
  </section>
  <section class="max-w-screen-xl px-4 min-h-96 mx-auto mt-5 grid grid-cols-2">
    <div class="p-4">
      <div class="h-full w-full relative">
        <div class="w-full h-full bg-gray-500 absolute"></div>
        <div style="clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%);" class="w-full h-full bg-gray-700 absolute"></div>
      </div>
    </div>
    <div class="flex justify-center flex-col">
      <h3 id="sector-alimentario" class="text-blue-900">Sector Alimentario</h3>
      <p>
        La industria alimentaria requiere maquinaria robusta, higiénica y
        eficiente, y en Difase estamos preparados para satisfacer esas
        necesidades. Diseñamos y fabricamos equipos como lavadoras de frutas,
        peladoras, cortadoras, pulpeadoras y sistemas de transporte
        automatizados, todos fabricados en acero inoxidable para cumplir con los
        estándares de higiene y seguridad alimentaria. Además, ofrecemos
        soluciones de automatización para optimizar procesos de envasado,
        clasificación y control de calidad. Nuestros servicios incluyen desde la
        fabricación de máquinas personalizadas hasta la modernización de equipos
        existentes, garantizando mayor productividad y reducción de costos.
      </p>
      <a
        href="/"
        class="proyectos bg-blue-800 p-3 uppercase font-oblivion mt-5 text-blue-50 overflow-hidden -skew-x-12 transition-all duration-300 hover:bg-blue-950 flex items-center gap-2 w-[9.5rem] hover:w-fit hover:translate-x-2 group max-md:text-sm max-md:mx-auto text-sm"
      >
        <span>proyectos</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="group-hover:opacity-100 group-hover:translate-x-0 opacity-0 -translate-x-2 transition-all duration-300"
        >
          <path
            d="M7 6l-.112 .006a1 1 0 0 0 -.669 1.619l3.501 4.375l-3.5 4.375a1 1 0 0 0 .78 1.625h6a1 1 0 0 0 .78 -.375l4 -5a1 1 0 0 0 0 -1.25l-4 -5a1 1 0 0 0 -.78 -.375h-6z"
          ></path>
        </svg>
      </a>
    </div>
  </section>
  <section class="max-w-screen-xl px-4 min-h-96 mx-auto mt-5 grid grid-cols-2">
    <div class="p-4">
      <div class="grid grid-cols-2 w-full h-full">
        <div class="bg-gray-500"></div>
        <div class="bg-gray-600"></div>
        <div class="bg-gray-700 col-span-2"></div>
      </div>
    </div>
    <div class="flex justify-center flex-col">
      <h3 id="sector-minero" class="text-blue-900">Sector Minero</h3>
      <p>
        En el sector minero, la durabilidad y eficiencia de los equipos son
        fundamentales. En Difase, desarrollamos maquinaria y sistemas robustos
        diseñados para operar en entornos exigentes y condiciones extremas.
        Ofrecemos servicios de diseño y fabricación de equipos para el
        procesamiento de minerales, sistemas de transporte automatizados y
        soluciones de reingeniería para optimizar la operación de maquinaria
        pesada. Además, implementamos sistemas de automatización y control que
        permiten monitorear y gestionar procesos mineros de manera eficiente,
        aumentando la productividad y reduciendo los tiempos de inactividad.
      </p>
      <a
        href="/"
        class="proyectos bg-blue-800 p-3 uppercase font-oblivion mt-5 text-blue-50 overflow-hidden -skew-x-12 transition-all duration-300 hover:bg-blue-950 flex items-center gap-2 w-[9.5rem] hover:w-fit hover:translate-x-2 group max-md:text-sm max-md:mx-auto text-sm"
      >
        <span>proyectos</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="group-hover:opacity-100 group-hover:translate-x-0 opacity-0 -translate-x-2 transition-all duration-300"
        >
          <path
            d="M7 6l-.112 .006a1 1 0 0 0 -.669 1.619l3.501 4.375l-3.5 4.375a1 1 0 0 0 .78 1.625h6a1 1 0 0 0 .78 -.375l4 -5a1 1 0 0 0 0 -1.25l-4 -5a1 1 0 0 0 -.78 -.375h-6z"
          ></path>
        </svg>
      </a>
    </div>
  </section>
</Layout>

<style>
  @reference "@/styles/global.css";
  h3 {
    @apply text-2xl font-energy uppercase tracking-wider scroll-mt-28;
  }
</style>

<style>
  .proyectos {
    interpolate-size: allow-keywords;
  }
  .servGene::after {
    content: "";
    position: absolute;
    background-color: #1c398e;
    width: calc(2 / 3 * 100%);
    height: 0.5rem;
    bottom: -0.5rem;
    right: 0;
    transform: skew(-12deg);
  }
  .servSect::after {
    content: "";
    position: absolute;
    background-color: #1c398e;
    width: calc(2 / 3 * 100%);
    height: 0.5rem;
    bottom: -0.5rem;
    left: 0;
    transform: skew(-12deg);
  }
</style>
