---
---
<section class="max-w-screen-lg mx-auto mt-10">
  <h2
    class="font-energy tracking-wide text-6xl text-center uppercase text-blue-900"
  >
    ¿Quienes somos?
  </h2>
  <p class="max-w-screen-sm mx-auto mt-3 text-center">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima ad
    incidunt ipsa expedita, laborum praesentium ratione doloribus esse eius
    aspernatur quidem voluptatum numquam. Dolores aspernatur est eos error,
    sed deleniti!
  </p>
  <div class="mt-10 flex justify-center gap-5">
    <div class="drop-shadow-xl">
      <img
        src="images/inicio/quienes-somos-1.webp"
        alt=""
        class="object-cover w-52 h-72"
        style="clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0 100%);"
      />
    </div>
    <div class="drop-shadow-xl">
      <img
        src="images/inicio/quienes-somos-2.webp"
        alt=""
        class="object-cover h-[80%] w-80"
      />
    </div>
    <div class="drop-shadow-xl">
      <img
        src="images/inicio/quienes-somos-3.webp"
        alt=""
        class="object-cover object-[-90px] w-52 h-72"
        style="clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0 80%);"
      />
    </div>
  </div>
  <button
    class="border-blue-900 border-2 py-2 px-4 mx-auto block -mt-5 uppercase text-blue-950 -skew-x-12 hover:bg-blue-900 hover:text-white transition-all hover:px-7 duration-300 font-oblivion"
    >Conoce mas de Difase</button
  >
</section>