<section class="max-w-screen-lg mx-auto mt-10 p-4">
  <h2
    class="font-energy tracking-wide text-4xl md:text-6xl text-center uppercase text-blue-900"
  >
    ¿Quienes somos?
  </h2>
  <p class="max-w-screen-sm mx-auto mt-3 text-center max-sm:text-sm">
    En Difase, nos enorgullece ser una empresa líder en el diseño, fabricación y
    mantenimiento de maquinaria industrial, con más de 12 años de experiencia en
    el sector. Nos especializamos en ofrecer soluciones integrales y
    personalizadas para todas las industrias. Nuestro compromiso es brindar
    equipos de alta calidad, innovadores y eficientes, respaldados por un equipo
    de profesionales altamente capacitados y un estricto control de calidad.
  </p>
  <div
    class="md:mt-10 mt-5 flex max-md:flex-wrap justify-center md:gap-5 gap-2 max-md:items-center px-2"
  >
    <div>
      <img
        src="images/inicio/quienes-somos-1.webp"
        alt=""
        class="w-52 h-72"
        style="clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0 100%);"
      />
    </div>
    <div>
      <img
        src="images/inicio/quienes-somos-2.webp"
        alt=""
        class="h-[80%] w-80"
      />
    </div>
    <div class="max-md:order-first">
      <img
        src="images/inicio/quienes-somos-3.webp"
        alt=""
        class="object-[-90px] w-52 h-72"
        style="clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0 80%);"
      />
    </div>
  </div>
  <a
    href="/nosotros"
    class="border-blue-900 max-md:text-sm border-2 py-2 px-4 mx-auto block w-fit md:-mt-5 mt-3 uppercase text-blue-950 -skew-x-12 hover:bg-blue-900 hover:text-white transition-all hover:px-7 duration-300 font-oblivion"
  >
    Conoce mas de Difase
  </a>
</section>

<style>
  @media (max-width: 768px) {
    img {
      clip-path: none !important;
    }
  }
</style>

<style>
  @reference "@/styles/global.css";
  section > div > div {
    @apply drop-shadow-xl;
    > img {
      @apply max-[555px]:w-full max-[555px]:h-auto max-[555px]:object-center object-cover;
    }
  }
</style>
