---
import { Icon } from "astro-icon/components"
---

<section class="mt-20 flex mx-auto max-w-screen-lg">
  <div class="w-1/2 flex flex-col justify-center">
    <h2 class="font-energy text-blue-900 text-4xl mb-5">
      Te asesoramos y ofrecemos las mejores soluciones
    </h2>
    <div class="-skew-x-12 w-96 flex flex-col text-white">
      <div class="border-b border-white h-20 bg-blue-950">
        <div class="h-full skew-x-12 mx-5 flex items-center gap-5">
          <Icon name="contact/mail" size="36" />
          <div>
            <h3 class="uppercase font-bold">Correo</h3>
            <p class="text-blue-100">mlume@difase.com</p>
          </div>
        </div>
      </div>
      <div class="border-b border-white h-20 bg-blue-900">
        <div class="h-full skew-x-12 mx-5 flex items-center gap-5">
          <Icon name="contact/phone" size="36" />
          <div>
            <h3 class="uppercase font-bold">Telefono</h3>
            <p class="text-blue-100">+51 935 178 423</p>
          </div>
        </div>
      </div>
      <div class="border-b border-white h-20 bg-blue-800">
        <div class="h-full skew-x-12 mx-5 flex items-center gap-5">
          <Icon name="contact/location" size="36" />
          <div>
            <h3 class="uppercase font-bold">Direccón</h3>
            <p class="text-blue-100 text-sm">
              Av. Pobladores California Mz H Lote 7<br />Villa el Salvador
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-1/2">
    <iframe
      class="max-w-full w-full h-96"
      loading="lazy"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.622520634565!2d-76.97319472493632!3d-12.20606828804335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b9863a1012ef%3A0xf045fe7c450c35fe!2sDifase%20Machinery%20SAC!5e0!3m2!1ses!2spe!4v1737261009063!5m2!1ses!2spe"
      title="Av. Pobladores California Mz H Lote 7, Villa el Salvador"
      aria-label="Av. Pobladores California Mz H Lote 7, Villa el Salvador">
    </iframe>
  </div>
</section>

<footer class="mt-28 bg-[rgb(0,20,87)] relative text-white">
  <div id="footer-bg" class="inset-x-0 top-0 -z-30 bg-black/10"></div>
  <section
    class="flex mb-5 px-5 pb-5 pt-10 justify-between mx-20 relative z-10"
  >
    <div class="w-52">
      <Icon name="imagotipo" class="w-28 h-auto mx-auto mb-2" />
      <p class="text-center leading-none font-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut suscipit
        odio eos aspernatur in saepe?
      </p>
    </div>
    <section class="flex gap-28">
      <div>
        <h3>Principales</h3>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/">Nosotros</a></li>
          <li><a href="/">Servicios</a></li>
          <li><a href="/">Contactanos</a></li>
        </ul>
      </div>
      <div>
        <h3>Sectores</h3>
        <ul>
          <li><a href="/">Farmaceutica</a></li>
          <li><a href="/">Minera</a></li>
          <li><a href="/">Alimentaria</a></li>
          <li><a href="/">Manufactura</a></li>
          <li><a href="/">Ligera</a></li>
        </ul>
      </div>
    </section>
    <section>
      <h3>Siguenos</h3>
      <div class="grid grid-cols-2 redes-sociales">
        <a href="">
          <Icon name="logos/facebook-icon" class="w-9 h-14" />
        </a>
        <a href="">
          <Icon name="logos/instagram-icon" class="w-9 h-14" />
        </a>
        <a href="">
          <Icon name="logos/x-icon" class="w-9 h-14" />
        </a>
        <a href="">
          <Icon name="logos/youtube-icon" class="w-9 h-14" />
        </a>
      </div>
    </section>
  </section>
  <hr />
  <p class="text-center py-2 z-10 relative">© Todos los derechos reservados</p>
</footer>

<style>
  #footer-bg::before {
    @apply absolute left-0 top-0 h-full w-full transform-gpu bg-repeat opacity-20;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-size: 182px;
  }
  ul li {
    @apply mb-2 ml-4 hover:text-blue-100 transition-colors duration-300;
  }

  .redes-sociales a {
    @apply hover:text-blue-200 text-white transition-colors duration-300 flex justify-center;
  }

  footer h3 {
    @apply font-oblivion tracking-widest text-blue-200 mb-3;
  }
</style>
