<div>
  <button class="bg-gradient-to-tl border from-indigo-700 via-blue-600 to-indigo-700 h-12 text-white uppercase font-oblivion tracking-[0.2em] px-3 rounded-lg text-xs" style="">Cotizar</button>
</div>