---
import Modal from "@/components/Modal.astro"
---

<header
  class="fixed top-0 z-10 bg-white/20 w-full backdrop-blur-sm flex header-difase shadow-md"
>
  <section class="w-36 overflow-hidden py-2 px-7 logo-difase mr-5">
    <a href="/" class="flex flex-col justify-center items-center gap-2">
      <img src="isotipo.svg" class="w-20 aspect-square" alt="" />
      <img
        src="logotipo.svg"
        alt=""
        class="logotipo-difase w-full aspect-[73/14]"
      />
    </a>
  </section>
  <section class="flex flex-col w-full">
    <div
      class="h-14 header-top flex justify-end"
      style="clip-path: polygon(3% 0, 100% 0, 100% 100%, 0 100%); background: linear-gradient(
        45deg,
        #ccc 5%,
        #fff 10%,
        #ccc 30%,
        #ddd 50%,
        #ccc 70%,
        #fff 80%,
        #bbb 95%
      );"
    >
      <section class="flex gap-7">
        <a
          href=""
          class="hover:text-blue-800 text-blue-950 transition-colors duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="3.5rem"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
            ></path></svg
          >
        </a>
        <a
          href=""
          class="hover:text-blue-800 text-blue-950 transition-colors duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="3.5rem"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
            ></path>
            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
            <path d="M16.5 7.5v.01"></path>
          </svg>
        </a>
        <a
          href=""
          class="hover:text-blue-800 text-blue-950 transition-colors duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="3.5rem"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M4 4l11.733 16h4.267l-11.733 -16z"></path><path
              d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path></svg
          >
        </a>
        <a
          href=""
          class="hover:text-blue-800 text-blue-950 transition-colors duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="3.5rem"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-youtube"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"
            ></path><path d="M10 9l5 3l-5 3z"></path></svg
          >
        </a>
      </section>
      <div
        class="px-7 leading-[.5rem] flex items-center text-xl font-oblivion tracking-widest"
      >
        <strong class="uppercase text-center w-36 text-blue-800 h-full">
          <span
            class="font-bold tracking-tighter"
            style="font-size: 1.7rem; line-height: 2rem;"
          >
            12
          </span>
          años contigo
        </strong>
      </div>
    </div>
    <div class="flex-1 flex items-center px-7">
      <nav class="flex-1 flex justify-center nav-disafe text-white h-full">
        <ul class="flex">
          <li>
            <a class="block h-full px-5 content-center" href="/">Inicio</a>
          </li>
          <li>
            <a class="block h-full px-5 content-center" href="/">Nosotros</a>
          </li>
          <li>
            <a class="block h-full px-5 content-center" href="/">Catalogo</a>
          </li>
          <li>
            <a class="block h-full px-5 content-center" href="/">Servicio</a>
          </li>
          <li>
            <a class="block h-full px-5 content-center" href="/">Contactanos</a>
          </li>
        </ul>
      </nav>
      <section class="">
        <Modal />
      </section>
    </div>
  </section>
</header>

<style>
  .logo-difase {
    transition: all 0.3s ease;
    interpolate-size: allow-keywords;
    animation: enhance-logo linear both;
    animation-timeline: scroll(root);
    animation-range: 0 15rem;
  }

  .header-difase {
    animation: enhance-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 15rem;
  }

  .logotipo-difase {
    transition: all 0.3s ease;
    animation: hidden-logotipo linear both;
    animation-timeline: scroll(root);
    animation-range: 0 2rem;
  }

  .header-top {
    transition: all 0.3s ease;
    animation: hidden-header-top linear both;
    animation-timeline: scroll(root);
    animation-range: 0 3rem;
  }

  .corner {
    transition: all 0.3s ease;
    animation: enhance-corner linear both;
    animation-timeline: scroll(root);
    animation-range: 0 15rem;
  }

  .nav-disafe {
    transition: all 0.3s ease;
    animation: enhance-nav linear both;
    animation-timeline: scroll(root);
    animation-range: 0 3rem;
  }

  @keyframes enhance-header {
    to {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  @keyframes enhance-logo {
    to {
      width: 6.5rem;
      height: 4rem;
      margin-right: 0rem;
    }
  }

  @keyframes hidden-logotipo {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes hidden-header-top {
    to {
      height: 0;
      clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  @keyframes enhance-corner {
    to {
      clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  @keyframes enhance-nav {
    to {
      color: black;
    }
  }
</style>
