---
import Modal from "@/components/Modal.astro"
import { Icon } from "astro-icon/components"
---

<header
  class="fixed top-0 z-10 bg-white/20 w-full backdrop-blur-sm flex header-difase shadow-md"
>
  <section class="w-36 overflow-hidden py-2 px-7 logo-difase mr-5">
    <a href="/" class="flex flex-col justify-center items-center gap-2">
      <Icon name="isotipo" class="w-20 h-auto aspect-square max-w-full" />
      <Icon name="logotipo" class="logotipo-difase w-full aspect-[73/14]" />
    </a>
  </section>
  <section class="flex flex-col w-full">
    <div
      class="h-14 header-top flex justify-end"
      style="clip-path: polygon(3% 0, 100% 0, 100% 100%, 0 100%); background: linear-gradient(
        45deg,
        #ccc 5%,
        #fff 10%,
        #ccc 30%,
        #ddd 50%,
        #ccc 70%,
        #fff 80%,
        #bbb 95%
      );"
    >
      <section class="flex gap-7 redes-sociales">
        <a href="">
          <Icon name="logos/facebook-icon" class="w-9 h-14" />
        </a>
        <a href="">
          <Icon name="logos/instagram-icon" class="w-9 h-14" />
        </a>
        <a href="">
          <Icon name="logos/x-icon" class="w-9 h-14" />
        </a>
        <a href="">
          <Icon name="logos/youtube-icon" class="w-9 h-14" />
        </a>
      </section>
      <div
        class="px-7 leading-[.5rem] flex items-center text-xl font-oblivion tracking-widest"
      >
        <strong class="uppercase text-center w-36 text-blue-800 h-full">
          <span
            class="font-bold tracking-tighter"
            style="font-size: 1.7rem; line-height: 2rem;"
          >
            12
          </span>
          años contigo
        </strong>
      </div>
    </div>
    <div class="flex-1 flex items-center px-7">
      <nav class="flex-1 flex justify-center nav-disafe text-white h-full">
        <ul class="flex">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li>
            <a href="/">Nosotros</a>
          </li>
          <li>
            <a href="/">Catalogo</a>
          </li>
          <li>
            <a href="/">Servicio</a>
          </li>
          <li>
            <a href="/">Contactanos</a>
          </li>
        </ul>
      </nav>
      <section>
        <Modal />
      </section>
    </div>
  </section>
</header>

<style>
  ul a {
    @apply block h-full px-5 content-center hover:text-blue-950 font-medium transition-colors duration-300;
  }

  .redes-sociales a {
    @apply hover:text-blue-800 text-blue-950 transition-colors duration-300;
  }
  .logo-difase {
    transition: all 0.3s ease;
    interpolate-size: allow-keywords;
    animation: enhance-logo linear both;
    animation-timeline: scroll(root);
    animation-range: 0 15rem;
  }

  .header-difase {
    animation: enhance-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 15rem;
  }

  .logotipo-difase {
    transition: all 0.3s ease;
    animation: hidden-logotipo linear both;
    animation-timeline: scroll(root);
    animation-range: 0 2rem;
  }

  .header-top {
    transition: all 0.3s ease;
    animation: hidden-header-top linear both;
    animation-timeline: scroll(root);
    animation-range: 0 3rem;
  }

  .corner {
    transition: all 0.3s ease;
    animation: enhance-corner linear both;
    animation-timeline: scroll(root);
    animation-range: 0 15rem;
  }

  .nav-disafe {
    transition: all 0.3s ease;
    animation: enhance-nav linear both;
    animation-timeline: scroll(root);
    animation-range: 0 3rem;
  }

  @keyframes enhance-header {
    to {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  @keyframes enhance-logo {
    to {
      width: 6.5rem;
      height: 4rem;
      margin-right: 0rem;
    }
  }

  @keyframes hidden-logotipo {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes hidden-header-top {
    to {
      height: 0;
      clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  @keyframes enhance-corner {
    to {
      clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  @keyframes enhance-nav {
    to {
      color: black;
    }
  }
</style>
