---
import { Icon } from "astro-icon/components";
---

<aside
  class="fixed bottom-2 right-2 shadow-lg bg-[#25d366] rounded-full p-4 group hover:shadow-none transition-shadow z-50 text-white"
>
  <article
    class="w-96 absolute left-full bottom-0 opacity-0 transition-all duration-300 ease-in-out group-hover:-translate-x-full group-hover:opacity-100 bg-gray-100 shadow-lg rounded-[2rem]"
  >
    <header class="bg-[#25d366] p-4 rounded-t-[2rem]">
      <Icon name="logos/whatsapp-logo" width="120" height="28"/>
    </header>
    <main class="flex flex-col gap-8 mx-8 my-4">
      <div class="relative bg-white text-black rounded-3xl p-4 bubble drop-shadow-lg">
        <span>Hola<br />¿En que podemos ayudarte?</span>
      </div>
      <a
        href=""
        target="_blank"
        class="bg-[#25d366] flex w-fit p-2 rounded-full items-center text-gray-100 font-bold hover:bg-[#3ffc84] transition-colors pl-8 ml-auto"
      >
        Abrir chat
        <Icon name="others/open-chat" size="48" class="ml-4"/>
      </a>
    </main>
  </article>
  <Icon name="logos/whatsapp-icon" size="48" />
</aside>

<style>
  .bubble::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 18px;
    left: -15px;
    width: 17px;
    height: 25px;
    background: inherit;
    clip-path: path(
      "M17 25V0C17 12.877 6.082 14.9 1.031 15.91c-1.559.31-1.179 2.272.004 2.272C9.609 18.182 17 18.088 17 25z"
    );
  }
</style>

<!-- href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios" -->