---
import { Icon } from "astro-icon/components"
---

<aside
  class="fixed bottom-2 right-2 shadow-lg bg-[#25d366] hover:bg-transparent rounded-full p-3 md:p-4 group hover:shadow-none transition-all z-50 text-white"
>
  <article
    class="md:w-96 w-80 absolute left-full bottom-0 opacity-0 transition-all duration-300 ease-in-out group-hover:-translate-x-full group-hover:opacity-100 bg-gray-100 shadow-lg rounded-[2rem]"
  >
    <header class="bg-[#25d366] md:p-4 py-3 px-5 rounded-t-[2rem]">
      <Icon name="logos/whatsapp-logo" class="md:w-[120px] h-auto w-[100px]" />
    </header>
    <main class="flex flex-col md:gap-8 gap-5 md:mx-8 mx-4 my-4">
      <div
        class="relative bg-white text-black rounded-3xl md:p-4 p-3 bubble drop-shadow-lg"
      >
        <span class="max-md:text-sm">Hola<br />¿En que podemos ayudarte?</span>
      </div>
      <a
        href="https://wa.me/51935178423?text=Hola!%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
        target="_blank"
        class="bg-[#25d366] flex w-fit p-2 rounded-full items-center text-gray-100 font-bold hover:bg-[#3ffc84] transition-colors pl-4 md:pl-8 ml-auto max-md:text-sm"
      >
        Abrir chat
        <Icon name="others/open-chat" size="48" class="ml-4 size-8" />
      </a>
    </main>
  </article>
  <Icon name="logos/whatsapp-icon" class="md:size-12 size-9" />
</aside>

<style>
  .bubble::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 18px;
    left: -15px;
    width: 17px;
    height: 25px;
    background: inherit;
    clip-path: path(
      "M17 25V0C17 12.877 6.082 14.9 1.031 15.91c-1.559.31-1.179 2.272.004 2.272C9.609 18.182 17 18.088 17 25z"
    );
  }
</style>
