---
import Footer from "@/components/Footer.astro"
import Navbar from "@/components/Navbar.astro"
import WhatsappButton from "@/components/WhatsappButton.astro"
import { ClientRouter } from "astro:transitions"

interface Props {
  title: string
  isIndex?: boolean
}

const { title, isIndex = false } = Astro.props
const pageTitle = isIndex ? title : `Difase | ${title}`
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <ClientRouter />
  </head>
  <body class="font-quicksand">
    <Navbar />
    <WhatsappButton />
    <main class="overflow-x-hidden">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  @font-face {
    font-family: "Oblivion";
    font-style: normal;
    font-size: 100 700;
    font-display: swap;
    src: url(/fonts/OblivionFuture.woff2);
  }
  @font-face {
    font-family: "Energy";
    font-style: normal;
    font-size: 100 700;
    src: url(/fonts/LTEnergy-Regular.otf);
  }
  @font-face {
    font-family: "Quicksand";
    src: url(/fonts/Quicksand-VariableFont.ttf);
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
</style>
