---
import Navbar from "@/components/Navbar.astro"
import WhatsappButton from "@/components/WhatsappButton.astro"
import { ClientRouter } from "astro:transitions"

interface Props {
  title: string
  isIndex?: boolean
}

const { title, isIndex = false } = Astro.props
const pageTitle = isIndex ? title : `Difase | ${title}`
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <link rel="icon" type="image/svg+xml" href="isotipo.svg" />
    <ClientRouter />
  </head>
  <body class="font-sono">
    <Navbar />
    <WhatsappButton />
    <slot />
    <script>
      import { register } from "swiper/element/bundle"
      register()
    </script>
  </body>
</html>

<style>
  @font-face {
    font-family: "Oblivion";
    font-style: normal;
    font-size: 100 700;
    font-display: swap;
    src: url(/fonts/OblivionFuture.woff2) format("woff2");
  }
  @font-face {
    font-family: "Energy";
    font-style: normal;
    font-size: 100 700;
    src: url(/fonts/LTEnergy-Regular.otf);
  }
  @font-face {
    font-family: "Sono";
    font-style: normal;
    font-size: 100 700;
    src: url(/fonts/Sono-Regular.woff2);
  }
</style>
