<form id="contact-form" class="mt-5">
  <fieldset>
    <fieldset>
      <label for="">Nombre:</label>
      <input name="username" type="text" />
    </fieldset>
    <fieldset>
      <label for="">Correo:</label>
      <input name="email" type="email" />
    </fieldset>
    <fieldset>
      <label for="">Telefono:</label>
      <input name="phone" type="tel" />
    </fieldset>
    <fieldset>
      <label for="">Sector:</label>
      <select name="sector" id="">
        <option value="sector01">sector01</option>
        <option value="sector02">sector02</option>
        <option value="sector03">sector03</option>
        <option value="otro">otro</option>
      </select>
    </fieldset>
    <fieldset>
      <label for="">Comentario:</label>
      <textarea name="comment" id=""></textarea>
    </fieldset>
    <button
      type="submit"
      class="border block ml-auto py-2 px-4 text-white bg-blue-900 disabled:bg-blue-950"
    >
      Enviar
    </button>
  </fieldset>
</form>

<script src="/src/utils/contactForm.js"></script>

<style>
  textarea {
    field-sizing: content;
  }
</style>

<style>
  @reference "@/styles/global.css";

  input,
  select,
  textarea {
    @apply border border-blue-700 disabled:bg-slate-100 outline-offset-0 focus:outline-2 focus:outline-blue-400 px-2 py-1 transition-all duration-100 outline-0 outline-none rounded-sm min-h-10 resize-none max-h-40;
  }

  textarea {
    @apply min-h-20;
  }
  fieldset > fieldset {
    @apply flex flex-col gap-2 mb-4;
  }
</style>
